<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<style>
  p{
    font-weight: bold;
  }
</style>
<div class="container">
  <h1>Chi tiết Tuor</h1>
  <p>Tour du lịch {{tour.title}}</p>
  <p>Giá: {{tour.price}} đồng</p>
  <p>Giới thiệu: {{tour.description}}</p>
  <button class="btn btn-primary" style="margin-right: 10px" routerLink="/">Danh sách</button>

</div>


