<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

<div class="container">

  <h1>Chỉnh sửa thông tin Tour</h1>
  <form [formGroup]="formEdit" (ngSubmit)="edit(formEdit)">
    <table>
      <tr>
        <td><input placeholder="nhập tên" formControlName="title" size="45" style="margin-bottom: 20px">
          <p style="color: red" *ngIf="!formEdit.get('title')?.valid && formEdit.get('title')?.touched">Không để trống</p>
        </td>
      </tr>
      <tr>
        <td><input placeholder="nhập giá" formControlName="price" size="45" style="margin-bottom: 20px">
          <p style="color: red" *ngIf="!formEdit.get('price')?.valid && formEdit.get('price')?.touched">Không để trống</p>

        </td>
      </tr>
      <tr>
        <td><textarea placeholder="nhập mô tả" formControlName="description" cols="47" rows="3" style="margin-bottom: 20px"></textarea>
          <p style="color: red" *ngIf="!formEdit.get('description')?.valid && formEdit.get('description')?.touched">Không để trống</p>

        </td>
      </tr>
    </table>
    <button type="submit" class="btn btn-warning" style="margin-right: 10px">Sửa</button>
    <button class="btn btn-secondary" routerLink="/">Hủy</button>
  </form>
</div>

